################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings

*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc

.config
.sass-cache
.vs
.builds

**/[Cc]ache/*
**/[Pp]ublished/*
**/[Pp]ublish/*
**/[Bb]in/*
**/[Oo]bj/*
**/[Dd]ebug/*

**/bower_components/*
**/node_modules/*

!**/[Cc]ache/[Ww]eb.config

wwwroot/Styles/Css/styles.css
wwwroot/Styles/Css/styles.css.map
wwwroot/Styles/Css/mail.css
wwwroot/Styles/Css/mail.css.map
wwwroot/Scripts/head.min.js
wwwroot/Scripts/body.min.js
wwwroot/Scripts/core.min.js
wwwroot/Scripts/default.min.js
