<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer xdt:Transform="InsertIfMissing">
    <httpProtocol xdt:Transform="InsertIfMissing">
      <customHeaders xdt:Transform="InsertIfMissing">
        <remove xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security xdt:Transform="InsertIfMissing">
      <requestFiltering xdt:Transform="SetAttributes" removeServerHeader="true" allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <system.web xdt:Transform="InsertIfMissing">
    <httpRuntime xdt:Transform="SetAttributes" enableVersionHeader="false" maxRequestLength="1048576" />
  </system.web>
</configuration>